html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    color: #51626f;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: 100;
    margin: 0 auto; /*background: url(/Images/bg.jpg) no-repeat fixed top center;*/
}

div {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

a, a:hover {
    color: #00c;
}

#story_box, .story_box, #error-404 {
    padding: 15px;
    display: block;
}

#top-navigator {
    display: block; /*background-color: #2C2C2C;*/
    /*color: #2894d5;*/
    /*font-size: 80%;*/
    height: 25px;
    border-bottom: 1px solid #bbb;
}

#top-navigator a, #top-navigator a {
    /*color: #2894d5;*/
    display: block;
}

#top-navigator ul, #menu ul {
    list-style: none;
    display: inline-block;
}

#top-navigator ul li, #menu ul li {
    float: left;
    margin: 5px;
    font-size: 80%;
}

#main_wrap {
    clear: both;
    height: auto;
}

#menu {
}

#menu ul li {
    /*display: block;*/
}