@import url('https://fonts.googleapis.com/css?family=Roboto:100,300&display=swap');


/*
* Cest k CDN serveru je: %_cdn_%
*/
html, body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input p {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

html {
    height:100%;

}

body {
    color:#51626f;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    font-weight: 100;
    margin:0 auto;
    background: url(%_cdn_%/Images/bg_.jpg) repeat-x fixed top center;
}

@font-face {
    font-family: 'Arial';
    /*src: url('tagesschrift.ttf');*/
}

@media screen and (min-width: 768px) {
    #central_box {
        width: 68%;
    }

}

@media screen and (max-width: 570px) {
    #top-navigator ul li a.mail-ico,
    #top-navigator ul li a.login-ico,
    #top-navigator .phone-ico,
    #footer-phone-box ul {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    #footer-phone-box ul {
        display: none;
    }
}


div Images{
    border: 0;
}

.hidden { display: none;}

a {
    color: #2894d5;
    text-decoration: underline;
}

p, li {
    font-size: 100%;
    color: #4e5665;
    line-height: 20px;
}

li {
    padding: 0 0 10px 0;
}

a:hover, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
#tripple_box h3 a:hover, h2 .big:hover, h5.mininavigator-h3 a:hover, #footer-shadow a:hover,
div.vmware-right h3 a:hover, #story_recent_box h3 a:hover, #story_recent_box a.more,
#story_recent_box a.more:hover, #social_marketing a:hover, #modern_backup a:hover {
    text-decoration: underline;
}

ul {
    padding: 15px 0 5px 18px;
}

h1 a {
    text-decoration: none;
 }

.clear{
    clear: both;
    overflow: hidden;
    height: 0;
    font-size: 0%;
    line-height: 0;
}

.spacer {
    height: 64px;
}

div {
    display: block;
}

.green {
    color: green;
}

.red {
    color: red;
}

.gray {
    color: inherit;
}

.php {
    font-family: "Roboto Condensed";
    font-size: 90%;
    background-color: #f4f4f4;
    padding: 14px 0 14px 10px;
    border: 1px dashed #a5aeb6;
    line-height: 18px;
    color: #010f16;
    margin-bottom: 25px;
    white-space: pre-line;
    word-wrap:break-word
}

span.root {
    color: red;
}

#main_wrap{
    width: 960px;
    margin: 0 auto;
}

#header {
    background-color: #ffffff;
}

#main {
    min-height: 650px;
    background-color: #fff;
}

#underheader_front {
    display: block;
    /*margin-top: 5px;*/
    /*border-bottom: 1px solid #f7f7f7;*/
}

#underheader {
    display: block;
    height: 40px;
    margin: 5px auto 0;
    padding: 10px 0 20px 65px;
    /*width: 960px;*/
    visibility: visible;
}

#logo {
    display: block;
    margin-left: 548px;
    padding: 20px 0 0;
    width:480px;
}

.citace {
    font-family: 'Roboto', sans-serif;
    color: #2894d5;
    /*font-size: 13px;*/
    font-weight: 400;
    font-style: italic;
}

.no-letter-space {
    letter-spacing: 0;
}

h1, h2, h3, h4, h5, h6, .h1_title, a.h1_title {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    color: #2894d5;
    font-weight: 100;
    text-decoration: none;
    line-height: 37px;
    margin: 15px 0 5px 0;
}

h1 {
    font-size: 220%;
    line-height: 37px;
}

h2 {
    font-size: 150%;
    line-height: 30px;
}

h3 {
    font-size: 120%;
    line-height: 130%;
}

h4 {
    font-size: 110%;
    line-height: 110%;
}

h5 {
    font-size: 105%;
    line-height: 140%;
}

h6 {
    font-size: 100%;
    line-height: 140%;
}

h2 .big, a .big  {
    font-size: 28px;
    font-weight: 300;
    text-decoration: none;
}

.story_box h2 {
    line-height: 28px;
}

.story_box h3 {
    line-height: 24px;
}

.story_box h4 {
    line-height: 20px;
}

.story_box .image_left {
    float: left;
    padding: 15px 15px 15px 0;
}

.story_box .image_right {
    float: right;
    padding: 15px 0 15px 15px;
}

input[type="text"], input[type="password"], textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: #828387;
    font-size: 12px;
    vertical-align: middle;
    font-weight: normal;
    padding: 7px 18px 7px;
    margin: 0;
    background: url(%_cdn_%/Images/input.png);
    border: none;
    outline: none;
    width: 193px;
    box-shadow: 0 1px 0 white, 0 1px 5px #DBDBD9 inset;
    border-radius: 19px;
}

#breadcrumb {
    padding: 11px 0 0 40px;
    font-size: 11px;
}

#menu {
    height: 75px;
    text-align: center;
    margin: 1px auto 0;
    background-color: #2C2C2C;
}

#menu li {
    float: left;
    list-style: none outside none;
    padding: 0;
    display: inline;
    width: 160px;
}

#menu .subli {
    color: #2894d5;
    list-style: none outside none;
    text-transform: lowercase;
    font-size: 11px;
}

#menu ul {
    display: block;
    margin: 0 auto;
    padding: 1px 0 10px 0;
    width: 960px;
}

#menu a {
    color: #a5aeb6;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    transition: all 0.5s ease;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    position: relative;
    z-index: 5;
    text-transform: uppercase;
    border-top-color: #1b1a1a;
    box-shadow: inset 0 10px 20px rgba(0,0,0,.15);
    border-radius: 6px 6px 0 0;
    height: 59px;
    display: block;
    text-decoration: none;
    text-align: center;
    width: 160px;
    padding: 15px 0px 0px 0px;
    background-position: top center;
    background-repeat: no-repeat;
    border-left: 1px solid #403f3e;
    border-right: 1px solid #403F3E;
    border-top: 1px solid #403F3E;
    background-color: #2b2b2b;
}

#login_box {
    margin-left: 120px;
    padding: 60px;
    width: 350px;
}

#submit {
    display: block;
    height: 26px;
    width: 95px;
    color: #fff;
    text-decoration: none;
    background: url("%_cdn_%/Images/button-bg.png") no-repeat;
    background-size: 95px 32px;
    padding: 10px 0 0 32px;
    margin: 4px 0;
}

.input {
    padding: 4px 0 4px;
}

.label {
    padding: 4px 0 0 5px;
}

#login_box .infozona {
    margin-bottom: 25px;
}

#login_box .buttonzona {
    margin-top: 15px;
}

#submit:hover {
    background: url("%_cdn_%/Images/button-bg-hover.png") no-repeat;
    background-size: 95px 32px;
}

#menu a.selected,
#menu a.selected:hover {
    color: #010f16;
    text-decoration: none;
    box-shadow: inset 0 10px 10px rgba(0,0,0,.15);
    height: 64px;
    background-color: #fff;
    border-left: 0;
    border-right: 0;
}

#menu a:hover{
    color: #fff;
    background-color: #403f3e;
    box-shadow: inset 0 10px 10px rgba(0,0,0,.35);
    text-decoration: none;
    height: 58px;
}

.left {
    float: left;
}

.right {
    float: right;
}

#central_box_front {
    width: auto;
    float: left;
    border-right: 1px solid #f7f7f7;
    border-left: 1px solid #f7f7f7;
}

#central_box h1 {
    font-size: 220%;
}

#central_box {
    /*width: 68%;*/
    float: left;
    border-right: 1px solid #F7F7F7;
    display: block;
    margin-right: 10px;
}

.icon-up {
    display: block;
    float: right;
    background: url(%_cdn_%/Images/icons_up.png) no-repeat;
    background-size: 32px;
    height: 32px;
    width: 32px;
}

.icon-up:hover {
    display: block;
    margin-left: 660px;
    background: url(%_cdn_%/Images/icon_up2.png) no-repeat;
    background-size: 32px;
    height: 32px;
}

#central_box_footer {
    width: 70%;
    float: left;
    height: 80px;
    padding: 0;
    margin: 0;
}

.story_box {
    padding-left: 50px;
    padding-right: 50px;
}

.story_box p {
    text-align: justify;
}

#left_box {
    float: left;
    width: 230px;
    margin: 0 0 0 18px;
}

#right_box_front {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}

#right_box {
    float: right;
    margin-right: 10px;
    height: 200px;
}

.front {
    margin-top: 324px;
}

.right-element {
    width: 230px;
}
.left-element {
    width: 230px;
}

.right-element-header {
    height: 31px;
    padding: 8px 0 0 10px;
}
.right-element-body {
    min-height: 50px;
    padding: 10px 10px 0 10px;
}
.right-element-footer {
    height: 20px;
}
.right-element-separator {
    display: block;
    height: 20px;
}

#footer {
    background-image: url(%_cdn_%/Images/footer.png);
    height: 229px;
    clear: both;
}

#crossnav {
    float: left;
    margin: 20px 0 0 20px;
}

#footertxt {
    float: left;
    margin: 20px 0 0 20px;
}

#contacts {
    background-repeat: no-repeat;
    background-position: top left;
    margin-left: 40px;
    height: 600px;
}

#contacts .left-panel {
    width: 305px;
    float: left;
}
#contacts .right-panel {
    width: 170px;
    margin-top: 10px;
    float: left;
}
#contacts .icons img {
    padding: 7px;
}

#contacts .sluzby-regiony {
    margin-top: 20px;
}

#contacts .symbols {
    margin-right: 12px;
}

#contacts ul.lokality {
    margin-bottom: 0;
    padding-bottom: 0;
}

#error-404 {
    padding: 10px 0 0 40px;
    margin-left: 18px;
    height: 500px;
}

#error-404 ul {
    margin-left: 15px;
}

#error-404 img {
    float: left;
    padding: 0 20px 0 40px;
}
#seo-content {
    float: left;
    padding: 0 20px 0 40px;
}

#seo-front {
    background-image: url(%_cdn_%/Images/seo_bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    margin-left: 1px;
}

#slider .slide1 {
    background-image: url(%_cdn_%/Images/seo_bg.png);
    background-repeat: no-repeat;
}
#slider .slider {
    padding-left: 20px;
}
#slider .slide2 {
    background-image: url(%_cdn_%/Images/01.jpg);
    background-repeat: no-repeat;
}
#slider .slide3 {
    background-image: url(%_cdn_%/Images/02.jpg);
    background-repeat: no-repeat;
}
#slider .slide4 {
    background-image: url(%_cdn_%/Images/03.jpg);
    background-repeat: no-repeat;
}
#slider .slide5 {
    background-image: url(%_cdn_%/Images/04.jpg);
    background-repeat: no-repeat;
}

.bxslider {
    font-weight: 100;
    color: #fff;
    display: block;
}

.slider-webhosting {
    background-color: #2c2d2d;
    background-repeat: no-repeat;
    background-size: 960px 360px;
    height: 360px;
    width: 960px;
}

.slider-vmware {
    background-image: url(%_cdn_%/Images/slide2.svg);
    background-repeat: no-repeat;
    background-size: 960px 360px;
    height: 360px;
    width: 960px;
}

.slider-network {
    /*background-image: url(%_cdn_%/Images/slide3.jpg);*/
    background-repeat: no-repeat;
    background-size: 960px 360px;
    height: 360px;
    width: 960px;
}


.bxslider .webhosting-title {
    letter-spacing: -5px;
    font-size: 700%;
    color: #fff;
    display: block;
    margin-top: 50px;
    margin-left: 45px;
    font-weight: 100;
    line-height: 120px;
}

.bxslider .space-left {
    padding-left: 90px;
}


.text-up {
    display: block;
    position: relative;
    color: #fff;
    font-size: 24px;
    padding-top: 100px;
    margin-left: 25px;
}

.text-down {
    display: block;
    position: relative;
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 40px;
}

.bxslider .network-title,
.bxslider .vmware-title,
#vmware-splash h3,
.bxslider,
.bxslider .webhosting-title {
    font-family: 'Roboto', sans-serif;
}

.bxslider .vmware-title {
    letter-spacing: -5px;
    font-size: 550%;
    color: #fff;
    display: block;
    margin: 20px 0 0 25px;
}

.bxslider .network-title {
    letter-spacing: 0;
    font-size: 390%;
    color: #fff;
    display: block;
    margin-top: 20px;
    margin-left: 25px;
    line-height: 62px;
}

/*
 * -- ADDONY --
 */
.patch_list {
    display: block;
}

.patch_list_clear {
    clear: left;
    padding-left: 125px;
}

.span,
.span a {
    line-height: 18px;
    font-size: 10px;
    color: #51626f;
    font-style: italic;
}

.span a {
    color: #0076b9;
}

.addons_list_clear .span {
    padding-right: 20px;
    padding-left: 20px;
    line-height: 18px;
    font-size: 12px;
    color: #a5aeb6;
}

.patch_list_clear .values,
.addons_list_clear .values {
    font-size: 12px;
    color: #2894d5;
}

.patch_list .patch_id {
    font-size: 42px;
    font-family: 'Roboto', sans-serif;
    color: #2894d5;
    line-height: 41px;
    padding-left: 15px;
    padding-top: 5px;
    display: block;
}

.addons_list .title {
    font-size: 140%;
    color: #2894d5;
    padding-left: 15px;
    text-decoration: none;
}

.patch_list h3 {
    margin:0;
    padding: 0;
}

li.addons_list h2 {
    color: #a5aeb6;
    font-size: 20px;
}


.patch_list .internal {
    height: 50px;
    display: block;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

ul.patch_list {
    display: block;
    margin: 10px 0 0 0;
    border: 1px solid #dededd;
    border-radius: 6px;
    height: 68px;
    padding: 15px 0 15px 0;
}

.addon_detail_list ul,
.addons_list_main ul.ul {
    margin: 0;
    padding: 0;
}

li.patch_list {
    display: block;
    padding: 10px 10px 7px 0;
}

.patch_list .caption {
    padding-left: 20px;
}

li.patch_list h2 {
    margin: 0;
}

.addons_list .images,
.addon_detail_list .images {
    clear: both;
    float: left;
    width: 520px;
    height: 85px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 0 15px 0;
}

.addons_list .images {
    padding: 0 0 15px 10px;
}

.patch_list .detail {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
}

.addons_list .image,
.addon_detail_list .image {
    padding: 0;
    margin: 0;
    display: block;
}


.addons_list .img,
.addon_detail_list .img {
    background-color: #fff;
    padding: 3px;
    height: 70px;
    width: 70px;
    border: 1px solid #bfbfbf;
    float: left;
    margin: 0 5px 5px 0;
}

.patch_list .link {
    display: block;
    height: 70px;
    width: 70px;
    float: left;
    padding: 3px;
    margin-right: 15px;

}

.addons_list {
    display: block;
    margin: 10px 0 0 0;
    border: 1px solid #dededd;
    border-radius: 6px;
    padding: 15px 0 15px 0;

}

/**
* TRIPPLE BOX
**/
#tripple_box {
    display: block;
    height: 310px;
    clear: left;
    border-top:1px solid #f7f7f7;
    border-bottom: 1px solid #f7f7f7;
    width: 100%;
}

#tripple_box ul,
#mininavigator ul,
#related_stories ul {
    display: block;
    width: 96%;
    list-style: none outside none;
    padding: 0;
    margin-left: 4%;

}

#tripple_box li {
    float: left;
    display: block;
    width: 28%;
    height: 300px;
    margin-right: 4%;
    padding: 10px 0 0 0;
}

#tripple_box li p {
    float: left;
    text-align: justify;
    width: 108%;
    margin-bottom: 8px;
}

#tripple_box li img {
    width: 110%;
}

#tripple_box h3 {
    height: 24px;
    font-size: 110%;
}

#tripple_box h3 a {
    color: #2894d5;
    text-decoration: none;
    font-size: 120%;
    font-weight: 100;
    text-transform: uppercase;
    display: block;
}

.grid1 a.more {
    background: url("%_cdn_%/Images/more.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 23px;
    width: 57px;
    margin-top: 230px;
    font-size: 10px;
    padding: 2px 0 0 9px;
    color: #03273B;
    text-decoration: none;
}

.grid1 a.more:hover {
    background: url("%_cdn_%/Images/more-up.png") no-repeat scroll 0 0 transparent;
}

/**
* HOSTINGS BOX
**/
#hostings {
    display: block;
    height: 390px;
    margin: 0 30px 0 40px;
    clear: left;
}

#hostings ul.sepa {
    display: block;
    width: 990px;
    list-style: none outside none;
    padding: 0;
}

#hostings li.single {
    float: left;
    display: block;
    width: 170px;
    height: 307px;
    padding: 0px 70px 0 0px;
    border-radius: 5px;
    margin-right: 80px;
}

#hostings li.single p {
    width: 230px;
    float: left;
}

#hostings ul.sepa li.single p.desc {
    float: left;
    height: 16px;
    background-color: #2894d5;
    padding-top: 8px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    width: 240px;
    border-radius: 25px;
    border: 1px solid #e9e9e9;
}

#hostings ul.sepa li.single ul.inner {
    clear: both;
    width: 222px;
    display: block;
    padding-top: 10px;
    margin-top: 60px;
    border-radius: 25px;
    border: 1px solid #e9e9e9;
    min-height: 210px;
    display: block;
}

#hostings ul.sepa li.single ul.inner li {
    list-style: none;
    background: url("%_cdn_%/Images/bullet-circle.png") no-repeat;
    background-size: 20px 20px;
    padding: 1px 0 0 26px;
    margin-top: 5px;
    height: 20px;
    width: 200px;
    font-weight: 700;
    color: #166B8C;
}

#hostings h3 a {
    color: #2894d5;
    text-decoration: none;
    letter-spacing: 0;
    font-size: 40px;
    width: 240px;
    display: block;
    text-align: center;
}

#mininavigator {
    display: inline-block;
    /*height: 265px;*/
    float: left;
}

#mininavigator li {
    float: left;
    width: 19%;
    padding-right: 0.5%;
}

h5.mininavigator-h3 {
    margin-top: 100%;
    color: #166B8C;
    display: block;
    padding: 0 0 0 5px;
}

h5.mininavigator-h3 a {
    text-decoration: none;
    font-size: 120%;
}

#mininavigator li.vmware {
    background: url("%_cdn_%/Images/boxik_vmware.svg") no-repeat scroll 0 0 transparent;
    background-size: 172px
}
#mininavigator li.gentoo {
    display: block;
    background: url("%_cdn_%/Images/boxik_networking.svg") no-repeat scroll 0 0 transparent;
    background-size: 172px;
}
#mininavigator li.ubuntu {
    background: url("%_cdn_%/Images/boxik_hostings.svg") no-repeat scroll 0 0 transparent;
    background-size: 172px
}
#mininavigator li.svn {
    background: url("%_cdn_%/Images/boxik_subversion.png") no-repeat scroll 0 0 transparent;
}
#mininavigator li.backups {
    background: url("%_cdn_%/Images/boxik_backup_solutions.svg") no-repeat scroll 0 0 transparent;
    background-size: 172px
}
#mininavigator li.free-webhosting {
    background: url("%_cdn_%/Images/boxik_free_webhosting.svg") no-repeat scroll 0 0 transparent;
    background-size: 172px;
}

#mininavigator li p {
    float: left;
    font-size: 14px;
    line-height: 18px;
    padding-left: 7px;
    padding-bottom: 0px;
    margin: 0;
}

#mininavigator h3 {
    margin-bottom: 8px;
}

#mininavigator h3 a {
    color: #2894d5;
    text-decoration: none;
    font-size: 14px;
    margin-top: 150px;
    letter-spacing: 0;
    display: block;
    text-transform: uppercase;
}

#related_stories {
    display: inline-block;
    float: left;
    border-top: 1px solid #f7f7f7;
    width: 100%;
}

#related_stories ul {
    padding: 10px 0 0 0;
    height: 70px;
}

#related_stories li {
    float: left;
    width: 18%;
    margin-right: 2%;
}

#related_stories li:last-child {
    margin-right: 0;
}

#related_stories h6 {
    margin: 12px 0 0 40px;
    font-size: 80%;
}

#related_stories ul li.box a {
    font-family: Helvetica, Arial, sans-serif;
}

#related_stories ul li img.icon {
    width: 32px;
    float: left;
    margin: 15px 2px 10px 0;
}

.grid5 a.more {
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    display: block;
    width: 47px;
    margin-left: 4px;
    font-size: 11px;
    padding: 1px 0 0 3px;
    color: #2894d5;
}

#footer-shadow {
    /*height: 392px;*/
    margin: 0 auto;
    background-color: #2C2C2C;
    border-top: 1px solid #494949;
}

#footer-bottom-copy {
    height: 50px;
    display: block;
    margin-top: 10px;
    background-color: #2C2C2C;
    border-top: 1px solid #403f3e;
}


#footer-bottom-copy p.footer-copy-center {
    width: 940px;
    font-size: 10px;
    padding: 15px 0 10px 0;
    margin: 0 auto;
    text-align: right;
}

#footer-shadow a {
    color: #dededd;
    text-decoration: none;
    padding-left: 2px;
}

#footer-bottom li,
#footer-bottom p,
.footer-bottom h2,
.footer-bottom h3,
.footer-bottom h4 {
    color: #dededd;
    font: 12px/12px Arial, Helvetica, sans-serif;
    margin-left: 2px;
    padding: 0;
}
#footer-bottom h2 {
    color: #2894d5;
    font-size: 28px;
}
#footer-bottom h3 {
    color: #2894d5;
    font-size: 24px;
}

h3.h3-footer span {
    font-size: 32px;
    font-weight: bold;
}

h4 span {
    font: bold 24px/24px Arial, Helvetica, sans-serif;
}

#footer-bottom h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    padding-bottom: 2px;
}

#footer-bottom .footer-right {
    float: right;
    width: 260px;
    margin-top: 30px;
}

#footer-bottom .footer-right #social-panel ul {
    padding-top: 0px;
}

#footer-bottom {
    display: block;
    margin: 0 auto;
    width: 948px;
}

.footer-bottom-ul {
    display: block;
    list-style: none outside none;
    float: left;
    margin: 24px 25px 0 8px;
    padding: 0;
}

#footer-bottom li {
    display: block;
    padding: 7px 0 0 0;
}

.footer-bottom-ul li {
    padding-top: 100px;
    margin-right: 14px;
    border-bottom: 1px solid #494949 ;
    height: 26px;
}

.footer-bottom-ul .header {
    height: 52px;
}

#footer-bottom li a {
    float: left;
    display: block;
    line-height: 18px;
}

.fico{
    background: url(%_cdn_%/Images/footer-arrow.png) no-repeat scroll 0 0 transparent;
    background-size: 16px 16px;
    padding-left: 122px;
}

#footer-bottom .footer-bottom-ul li a.fico {
    padding-left: 24px;
}

#top-navigator {
    color: #2894d5;
    font-size: 11px;
    margin: 0 auto;
    height: 30px;
    background-color: #2C2C2C;
    border-bottom: 1px solid #403f3e;
    display: block;
}

#top-navigator .inner {
    width: 950px;
    margin: 0 auto;
}


#top-navigator ul {
    margin: 0 auto;
    list-style-type: none;
    padding: 5px 0 0 0;
}

#top-navigator ul li {
    font-family: Arial,"Roboto Condensed",Helvetica, Arial, sans-serif;
    font-size: 80%;
    display: inline-block;
    font-weight: bold;
    color: #2894d5;
    padding: 0 5px 0 5px;
}

#top-navigator ul li a {
    padding-top: 0px;
    padding-left: 20px;
    display: block;
}

#top-navigator ul li.last {
    padding-right:  0;
}

#top-navigator ul li a.contact-ico {
    background: url("%_cdn_%/Images/contact-ico.png") no-repeat scroll 0 3px;
    background-size: 14px;
    float: right;
}

#top-navigator ul li a.login-ico {
    background: url("%_cdn_%/Images/login_ico.png") no-repeat scroll 0 2px;
    background-size: 14px;
    float: right;
}

#top-navigator .phone-ico {
    background: url("%_cdn_%/Images/phone_ico.png") no-repeat scroll 0 2px;
    background-size: 16px;
    padding-left: 20px;
    float: left;
    margin: 2px 0 0 0;
}

#top-navigator ul li a.mail-ico {
    background: url("%_cdn_%/Images/mail_ico.png") no-repeat scroll 0 4px;
    background-size: 14px;
    float: right;

}
#top-navigator ul li a.home-ico {
    background: url("%_cdn_%/Images/home_ico.png") no-repeat scroll 0 1px;
    background-size: 16px;
    float: left;
}

#top-navigator ul li a.email-ico {
    background: url("%_cdn_%/Images/email_ico.png") no-repeat scroll 45px 0 transparent;
    background-size: 14px;
}

#social-panel ul,
#social-panel-footer ul {
    margin: 0;
    padding: 0;
    border-top: 6px solid #403f3e;
}

#social-panel-footer ul li {
    padding-top: 20px;
    display: inline-block;
    margin: 0;
}

#social-panel-footer {
    margin: 42px 0 0 0;
}

#footer-phone-box ul {
    margin: 0;
    padding: 0;
}

.apps-buttons {
    float: left;
    padding: 0;
    border-bottom: 6px solid #403f3e;
    width: 108%;
}

#footer-phone-box ul li {
    display: inline-block;
    padding-left: 5px;
    padding-bottom: 20px;
}

#social-panel,
#contact-icons {
    padding: 10px 0 0 0;
    margin: 0;
    position: relative;
    top: 26px;
    width: 265px;
}

#social-panel ul li,
#contact-icons ul li {
    padding: 10px 0 0 0;
    margin: 0;
    display: inline-block;
}

#contact-icons {
    width: auto;
    margin: 0;
    padding: 0;
    top: 0;
    padding: 24px 0 0 0;
}

#contact-icons ul,
#contact-icons li {
    margin: 0;
    padding: 0;
}

#contact-icons .social_buttons_facebook,
#contact-icons .social_buttons_google,
#contact-icons .social_buttons_in,
#contact-icons .social_buttons_pinterest,
#contact-icons .social_buttons_twitter {
    display: inline-block;
    background: url("%_cdn_%/Images/contacts_social_icons.png") no-repeat;
    background-size: 242px 48px;
    margin-right: 25px;
    border: 1px solid #f7f7f7;
}

#contact-icons .social_buttons_facebook:hover,
#contact-icons .social_buttons_google:hover,
#contact-icons .social_buttons_in:hover,
#contact-icons .social_buttons_pinterest:hover,
#contact-icons .social_buttons_twitter:hover {
    display: inline-block;
    background: url("%_cdn_%/Images/contacts_social_icons_hover.png") no-repeat;
    background-size: 242px 48px;
    margin-right: 25px;
    width:48px;
    height:48px;
}

#contact-icons .social_buttons_google,
#contact-icons .social_buttons_google:hover {
    background-position:0px 0px;
    width:48px;
    height:48px;
}
#contact-icons .social_buttons_twitter,
#contact-icons .social_buttons_twitter:hover {
    background-position:-48px 0px;
    width:48px;
    height:48px;
}

#contact-icons .social_buttons_facebook,
#contact-icons .social_buttons_facebook:hover {
    background-position:-96px 0px;
    width:48px;
    height:48px;
}
#contact-icons .social_buttons_pinterest,
#contact-icons .social_buttons_pinterest:hover {
    background-position:-144px 0px;
    width:48px;
    height:48px;
}
#contact-icons .social_buttons_in,
#contact-icons .social_buttons_in:hover {
    background-position:-192px 0px;
    width:48px;
    height:48px;
    margin: 0;
}

.social_buttons_facebook,
.social_buttons_google,
.social_buttons_in,
.social_buttons_pinterest,
.social_buttons_twitter{
    display: inline-block;
    background: url("%_cdn_%/Images/social_icons.png") no-repeat;
    background-size: 242px 48px;
    margin-right: 15px;
}

.social_buttons_facebook:hover,
.social_buttons_google:hover,
.social_buttons_in:hover,
.social_buttons_pinterest:hover,
.social_buttons_twitter:hover {
    display: inline-block;
    background: url("%_cdn_%/Images/social_icons_hover.png") no-repeat;
    background-size: 242px 48px;
    width:48px;
    height:48px;
    margin-right: 15px;
}
.social_buttons_google,
.social_buttons_google:hover {
    background-position:0px 0px;
    width:48px;
    height:48px;
}
.social_buttons_twitter,
.social_buttons_twitter:hover {
    background-position:-48px 0px;
    width:48px;
    height:48px;
}
.social_buttons_facebook,
.social_buttons_facebook:hover {
    background-position:-96px 0px;
    width:48px;
    height:48px;
}
.social_buttons_pinterest,
.social_buttons_pinterest:hover {
    background-position:-144px 0px;
    width:48px;
    height:48px;
}
.social_buttons_in,
.social_buttons_in:hover {
    background-position:-192px 0px;
    width:48px;
    height:48px;
    margin: 0;
}

.apps-mysql {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("%_cdn_%/Images/apps-mysql.png");
    background-size: 114px 60px;
    background-position: 0 0;
    width: 114px;
    height: 60px;
    margin: 0;
}
.apps-php {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("%_cdn_%/Images/apps-php.png");
    background-size: 90px 60px;
    background-position: 0 0;
    width:90px;
    height:60px;
    margin: 0;
}
.apps-apache {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("%_cdn_%/Images/apps-apache.png");
    background-size: 114px 60px;
    background-position: 0 0;
    width:114px;
    height:60px;
    margin: 0;
}
.apps-smarty {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("%_cdn_%/Images/apps-smarty.png");
    background-size: 114px 60px;
    background-position: 0 0;
    width:114px;
    height:60px;
    margin: 0;
}
.apps-vmware {
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("%_cdn_%/Images/apps-vmware.png");
    background-size: 120px 60px;
    background-position: 0 0;
    width:120px;
    height:60px;
    margin: 0;
}

.apps-mysql:hover {
    background-image: url("%_cdn_%/Images/apps-mysql-hover.png");
}
.apps-php:hover {
    background-image: url("%_cdn_%/Images/apps-php-hover.png");
}
.apps-apache:hover {
    background-image: url("%_cdn_%/Images/apps-apache-hover.png");
}
.apps-smarty:hover {
    background-image: url("%_cdn_%/Images/apps-smarty-hover.png");
}
.apps-vmware:hover {
    background-image: url("%_cdn_%/Images/apps-vmware-hover.png");
}

#footer-phone-box {
    float: left;
    padding-top: 26px;
    margin-left: 5px;
    width: 580px;
}

#footer-phone-box h3.phone {
    font-size: 240%;
    color: #2894d5;
    text-decoration: none;
    background: url("%_cdn_%/Images/phoneicon.png") no-repeat scroll 0 -8px transparent;
    display: block;
    padding-left: 68px;
    float: left;
    margin-top: 18px;
}

#vmware-splash {
    color: #fff;
    float: left;
    display: block;
    height: 240px;
    /*width: 925px;*/
    background: url("%_cdn_%/Images/vmware-bg.png") no-repeat scroll 20px 20px transparent;
    background-size: 890px 255px;
    margin: 23px 0 0 10px;
    padding-top: 10px;
    padding-bottom: 45px;
}

#vmware-splash h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 330%;
    margin: 0 0 0 10px;
    padding-left: 14px;
    width: 33%;
    line-height: 145%;
    letter-spacing: -2px;
    text-transform: uppercase;
}

div.vmware-right h3 a {
    text-decoration: none;
    font-size: 165%;
}

#vmware-splash h3 {
    font-weight: 100;
    margin: 10px 0 10px 0;
    line-height: 160%;
    width: 125%;
}

#registrace-domeny {
    color: #fff;
    float: left;
    display: block;
    height: 262px;
    width: 895px;
    background: url("%_cdn_%/Images/registrace_domeny_bg-01.png") no-repeat scroll 0 0 transparent;
    background-size: 890px 255px;
    margin: 23px 0 0 10px;
    padding-top: 10px;
    padding-bottom: 35px;
}

#registrace-domeny h2 {
    padding-left: 450px;
}

#vmware-ul {
    display: block;
    margin-left: 8px;
    padding-bottom: 8px;
    padding-left: 50px;
}

#vmware-ul a {
    display: block;
    background: url("%_cdn_%/Images/bullet1.png") no-repeat scroll 0 0 transparent;
    background-size: 19px;
    /*color: #fff;*/
    padding-left: 20px;
}

#vmware-ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    list-style: none;
    display: block;
    font-weight: 300;
    background: url("%_cdn_%/Images/bullet1.png") no-repeat scroll 0 0 transparent;
    padding-left: 20px;
}

.vmware-right {
    display: block;
    width: 30%;
    float: left;
}
#vmware-splash p.citace {
    width: 105%;
    padding-top: 6%;
}

.vmware-right h3 {
    font-size: 110%;
    padding: 0;
}

.small {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.0325em;
    color: #03263a;
    text-transform: none;
}

#contacts .right {
    width: 250px;
    margin: 30px 40px 0 0;
}

#contacts em {
    text-align: left;
    color: #0076b9;
}

div#contacts h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 290%;
    text-transform: uppercase;
}

div#contacts div.right h2 {
    margin: 25px 0 20px 0;
}
#contacts .right p{
    text-align: justify;
}

#contacts img.thumb {
    border: 1px solid #577687;
    padding: 6px;
    background-color: white;
}

.story_info {
    font-style: italic;
    font-size: 10px;
    display: block;
    padding-bottom: 10px;
    margin-top: 25px;

}

#story_recent_box {
    clear: both;
    display: block;
    margin: 0px 0 0 20px;
    padding: 0px 0 0 30px;
    width: 85%;
}

#story_recent_box ul li h3 {
    display: block;
    height: 38px;
}

#story_recent_box ul {
    padding-left: 0;
    margin-left: 0;
    height: 160px;
    border-top: 1px dotted #d7d7d7;
    border-bottom: 1px dotted #d7d7d7;
}

#story_recent_box li {
    position: relative;
    display: block;
    list-style: none;
    width: 31%;
    padding-top: 5px;
    float: left;
    color: #fff;
}

#story_recent_box li.next {
    padding-left: 15px;
}

#story_recent_box p {
    height: 55px;
}

#story_recent_box h3 a {
    display: block;
    text-decoration: none;
    letter-spacing: 0;
    font-size: 90%;
    color: #2894d5;
    line-height: 115%
}

#story_recent_box a.more {
    color: #2894d5;
    font-size: 80%;
    display: block;
    margin-top: 10px;
}

#story_recent_box p.perex {
    padding-bottom: 0;
}

.recent {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0;
    color: #2894d5;
    margin-top: 30px;
}


/**
* WEBHOSTING SPLASH
**/
#webhosting-splash {
    color: #fff;
    float: left;
    display: block;
    height: 269px;
    width: 927px;
    background: url("%_cdn_%/Images/webhosting_bg.jpg") no-repeat scroll 0 0 transparent;
    border-radius: 5px;
    padding-top: 80px;
    margin-top: 25px;
}

#webhosting-splash h2 {
    font-size: 26px;
    text-decoration: none;
}

#webhosting-splash ul {
    display: block;
    width: 990px;
    list-style: none outside none;
    padding: 0;
    margin-left: 90px;
}

#webhosting-splash li {
    float: left;
    display: block;
    width: 285px;
    height: 327px;
    padding: 15px 0 0 0;
}

#webhosting-splash li p {
    width: 230px;
}

#webhosting-splash h2 a {
    color: #2894d5;
    text-decoration: none;
    font-size: 24px;
}

.icon-arrow {
    position: relative;
    margin: 10px 0 0 75px;
    display: block;
    height: 64px;
    width: 64px;
}

.icon-arrow-up {
    background: url("%_cdn_%/Images/arrow-up.png") no-repeat scroll top center;
    background-size: 64px 64px;
}

.icon-arrow-down {
    background: url("%_cdn_%/Images/arrow-down.png") no-repeat scroll top center;
    background-size: 64px 64px;
}

.icon-arrow-right {
    background: url("%_cdn_%/Images/arrow-right.png") no-repeat scroll top center;
    background-size: 64px 64px;
}

#social_marketing,
#modern_backup {
    color: #fff;
    float: left;
    display: block;
    /*height: 280px;*/
    border-bottom: 1px solid #f7f7f7;
    padding-top: 0;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

#modern_backup {
    /*height: 175px;*/
    padding: 10px 0 0px 0;
}

#modern_backup a {
    text-decoration: none;
}

#social_marketing a,
#social_marketing h2,
#social_marketing p.citace {
    color: #D87D05;
}

#modern_backup a,
#modern_backup h2,
#modern_backup p.citace {
    color: #2894d5;
}

#social_marketing img {
    float: left;
}

#modern_backup img {
    float: left;
    width: 30%;
    padding-top: 10px;
}

#social_marketing h2,
#modern_backup h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 260%;
    text-transform: uppercase;
    line-height: 50px;
    padding-top: 5px;
    margin-top: 0;
    text-decoration: none;
}

#social_marketing .left-box {
    width: 280px;
    float: left;
    padding: 0 45px 0 25px;
}

#modern_backup .left-box {
    width: 32%;
    float: left;
    padding: 0 0 0 3.6%;
}

#social_marketing p.citace {
    display: block;
    margin-top: 5px;
}

.download {
    font-size: 16px;
    color: #010f16;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background: url("%_cdn_%/Images/download.png") no-repeat scroll 0 0 transparent;
    background-size: 125px 25px;
    height: 25px;
    width: 125px;
    display: block;
}

#social-panel {
    display: block;
    height: 32px;
    width: 260px;
}

#social-panel {
    display: block;
    height: 32px;
    width: 260px;
    margin-bottom: 60px;
}


#social-panel ul {
    padding-top: 10px;
}

.story_box #social-panel {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    width: 100%;
}

#central_box img.full {
    width: 100%;
    padding: 20px 0 15px 0;
}

#social-panel .span {
    padding-top: 2px;
}

.download_div {
    border-top: 1px solid #e9e9e9;
    padding-bottom: 45px;
    padding-top: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.fb-like, .twitter-share-button, .g-plus {
    position: relative;
    margin-right: 28px;
    height: 34px;
}

.fb-like, .fb-share-button {
    margin-right: 5px;
    float: left;
}

#twitter-widget-0 {
    margin-right: 0;
    width: 80px !important;
}

.addons-list-title {
    font-size: 150%;
    padding: 0 0 30px 5px;
}

#central_box h1.addon-title {
    font-size: 250%;
    padding: 0 0 5px 5px;
}

