html {
    -webkit-text-size-adjust: none;
}

body {
    background: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

#main_wrap, #footer-bottom, #footer-bottom-copy p.footer-copy-center, #top-navigator .inner, #menu ul {
    width: 100%;
    margin: 0 auto;
}

#menu, .footer-right {
    /*#vmware-splash p.citace {*/
    display: none;
}

#contacts .right {
    width: auto;
}

#mininavigator li.vmware, #mininavigator li.gentoo, #mininavigator li.backups, #mininavigator li.ubuntu, #mininavigator li.free-webhosting {
    background-size: 100%;
}

#vmware-splash {
    background: none; /*background-size: 95%;*/
    height: auto;
    padding: 0;
    margin: 0;
}

#vmware-splash p.citace {
    width: auto;
    padding-right: 3%;
    font-style: normal; /*text-align: justify;*/
}

#vmware-splash h3 {
    width: auto;
}

#vmware-splash h1 {
    font-family: 'Roboto Thin', 'Open Sans', sans-serif;
    font-size: 320%;
    width: auto; /*padding: 10% 3% 0 3%;*/
    /*padding-right: 3%;*/
    /*margin-left: 5%;*/
    padding-top: 25px;
    padding-left: 5px;
    display: block;
    line-height: 100%;
}

div.vmware-right h3 a {
    font-size: 160%;
    margin-top: 25px;
    display: block;
    line-height: 30px;
    /*text-decoration: underline ;*/
    /*padding-right: 3%;*/
    /*width: auto;*/
}

#social_marketing h2, #modern_backup h2 {
    font-size: 210%;
    margin-top: 5%;
}

.schovat-768 {
    display: none;
}

/* * iPHONE OTHER MOBILES 320+ */
@media screen and (max-width: 480px) {
    .hidden-320 {
        display: none;
    }

    div#central_box {
        width: 100%;
        border: 0px;
    }

    p, li {
        font-size: 100%;
    }

    code {
        /*width: 75%;*/
        /*white-space: pre-line;*/
    }

    div {
        margin: 0;
        padding: 0;
    }

    #top-navigator {
        height: 40px;
    }

    #top-navigator ul {
        padding-top: 10px;
    }

    #top-navigator ul li a {
        font-size: 120%;
    }

    #footer-bottom-copy {
        margin-top: 0;
    }

    #footer-bottom-copy p.footer-copy-center {
        color: #bbbbbb;
        width: 100%;
        text-align: center;
    }

    .story_box #social-panel {
        width: 100%;
    }

    .story_box {
        padding: 0 4% 0 4%;
        margin: 0;
    }

    #central_box {
        margin: 0;
        padding: 0;
    }

    #central_box_front {
        border: 0;
    }

    #central_box_footer {
        float: right;
        height: 40px;
    }

    #main {
        width: auto;
    }

    #footer-shadow {
        height: auto;
    }

    #contacts {
        margin-left: 30px;
        height: 100%;
    }

    #contacts .left-panel {
        width: auto;
        float: left;
    }

    #contact-icons .social_buttons_facebook, #contact-icons .social_buttons_google, #contact-icons .social_buttons_in, #contact-icons .social_buttons_pinterest, #contact-icons .social_buttons_twitter {
        margin-right: 14px;
    }

    #top-navigator ul li a.mail-ico, #top-navigator ul li a.login-ico, #top-navigator .phone-ico, /*.slider-veeam,*/
        /*#vmware-splash,*/
        /*#menu,*/
    .apps-buttons, #right_box, #right_box_front, #right_box {
        display: none;
        margin: 0;
        padding: 0;
        width: 0;
    }

    #social-panel .span {
        /*padding-top: 15px;*/
        padding-right: 5px;
    }

    #underheader {
        height: 0px;
        padding-bottom: 0;
        margin: 0;
    }

    #underheader_front {
        height: 1px;
        margin: 0;
    }

    /* * BXSLIDER */
    .bx-wrapper {
        margin: 0 0 15px 0;
    }

    .bxslider .vmware-title {
        line-height: 101%;
        margin-top: 0;
    }

    .bxslider .network-title {
        line-height: 100%;
    }

    .slider-vmware .text-up {
        margin-top: 4%;
    }

    .slider-vmware .text-down {
        margin-top: 0;
        line-height: 105%;
    }

    .bxslider .webhosting-title {
        margin-left: 10px;
        font-size: 480%;
        line-height: 130%;
    }

    .bxslider .space-left {
        padding-left: 18%;
    }

    #tripple_box {
        border: none;
    }

    #tripple_box li {
        height: auto;
    }

    #tripple_box li, #tripple_box li p, #tripple_box li img {
        width: 98%;
        margin-top: 15px;
    }

    #tripple_box h3 a {
        font-size: 135%;
    }

    #tripple_box h3 {
        width: auto;
    }

    #modern_backup {
        height: 100%;
        border: none; /*margin-bottom: 10px;*/
    }

    #modern_backup .left-box, .vmware-right {
        width: auto;
    }

    .vmware-right {
        margin-left: 5%;
    }

    #modern_backup img {
        width: 100%;
        margin-bottom: 20px;
        padding-top: 0px;
    }

    #related_stories {
        padding-top: 10px;
        margin-bottom: 20px;
    }

    #related_stories li {
        width: 98%;
        margin-right: 0;
        margin-top: 15px;
    }

    #related_stories ul li.box a {
        font-size: 116%;
        font-weight: 600;
        padding-top: 5px;
        margin-top: 10px;
    }

    #related_stories h6 {
        /*border-left: 5px solid #d7d7d7;*/
        /*padding-top: 3px;*/
        padding: 0;
        margin: 0;
        /*padding-left: 5px;*/
        /*margin-left: 0px;*/
        /*margin-right: 5px;*/
    }

    #related_stories ul li img.icon {
        /*display: none;*/
        /*height: 28px;*/

        margin: 1px 10px 0 0;
    }

    #mininavigator {
        height: auto;
        margin-bottom: 15px;
    }

    #mininavigator li {
        width: 49%;
        display: block;
        margin-top: 15px;
    }

    h5.mininavigator-h3 a {
        font-size: 110%;
    }

    h5.mininavigator-h3 {
        margin-top: 95%;
    }

    #mininavigator li.free-webhosting {
        display: none;
    }

    #footer-phone-box {
        width: auto;
    }

    .apps-buttons {
        width: auto;
    }

    .footer-bottom-ul {
        width: 100%;
        margin: 0;
    }

    #footer-bottom li, #footer-bottom p, .footer-bottom h2, .footer-bottom h3, .footer-bottom h4 {
        font-size: 130%;
        width: auto;
        padding: 10px 0 5px 15px;
    }

    #footer-bottom .footer-right {
        float: none;
        padding-left: 15px;
        width: auto;
        display: none;
    }

    #footer-phone-box h3.phone {
        background: none;
        padding-left: 15px;
        font-size: 160%;
        margin-top: 0px;
        padding-bottom: 15px;
        text-align: center;
    }

    #footer-bottom-copy p.footer-copy-center {
        font-size: 80%;
    }

    #social_marketing h2, #modern_backup h2 {
        font-size: 320%;
    }

    /* ADDONY */
    #central_box h1.addons-list-title, .addons_list .title {
        font-size: 100%;
    }

    #central_box li.addons_list h2 {
        font-size: 130%;
    }

    .addons_list .images, .addons_list .images, .addon_detail_list .images {
        border: none;
        width: 100%;
        height: auto;
    }

    ul.patch_list {
        float: left;
        height: auto;
    }

    .patch_list_clear, .patch_list .caption {
        padding-left: 10px;
    }

    .patch_list .caption h3 {
        font-size: 100%;
    }

    .patch_list .patch_id {
        padding-top: 0px;
    }
}