<div id="about">

    <img src="/Images/about.jpg" alt="O společnosti WindowStar" />

    <h1>WindowStar s.r.o. Planá nad Lužnicí</h1>

	<p>
	    Firma WindowStar s.r.o. patří do koncernu ELK s celoevropskou působností a zaměstnává 105 zaměstnanců.
	</p>
	<p>
            Na českém trhu působila od roku 1989 pod hlavičkou ELK a.s. (výroba montovaných domů).
	</p>
            Od roku 2010 se výroba oken osamostatnila a v rámci koncernu vznikla samostatná firma WindowStar s.r.o., která vyrábí okna a vchodové dveře ze dřeva, plastu, dřeva/hliníku a plastu/hliníku.
	<p>
	</p>
            Podnik je certifikován a kontrolován institutem Holzforschung Austria, všechny výrobky mají CE-certifikáty a osvědčení o zkoušce
	<p>

</div>
