<div id="registrace-domeny">
    {*<div class="input">*}
        {*<input type="password" name="t_pass" size="30" value="{$auth_login.post.t_pass}"/>*}
    {*</div>*}
    {*<div class="buttonzona">*}
        {*<a href="#" id="submit"/>Login</a>*}
        {*<input type="hidden" name="b_login" value="1"/>*}
    {*</div>*}

    {*<h2 class="left">Registrace domény</h2>*}
    {*<div class="vmware-right">*}
    {*<h3><a href="/konsolidace-fyzickych-serveru-a-virtualizace/">Virtualizujte své datové sentrum a získejte tak výhody, které ve světě fyzických serverů nenajdete!</a></h3>*}
    {*<p class="citace">Konsolidací fyzických serverů ušetříte né jen systémové prostředky, ale i celkové náklady.</p>*}

        {*<p>*}
            {*Díky virtualizaci a zapouzdření aplikace nebo celého systému do virtuálního prostředí, můžete znatelně prodloužit jejich žvotnost a udržovat systémovou životaschopnost, bez rizika a strachu o ztrátu dat!*}
        {*</p>*}
    {*</div>*}
</div>
