<ul class="bxslider">
    <li class="slider-vmware">
        <img src="{$cdn.hostname}/Images/slide4.svg" alt="Moderní zálohování Veeam Backup &and; Replication" width="960" height="360"/>
    </li>
</ul>