<ul class="bxslider">
    <li class="slider-vmware">
        <span class="text-up">Welcome in</span>

        <h2 class="vmware-title">THE VIRTUAL WORLD</h2>
        <span class="text-down">Protect Your Enterprise with flexible Virtual Technology</span>
    </li>
</ul>