{*{if $story_recent_box}*}

    {*<div class="story_box">*}
        {*<br />&nbsp;<br />*}
        {*<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>*}
        {*<!-- Default website body -->*}
        {*<ins class="adsbygoogle"*}
             {*style="display:inline-block;width:560px;height:90px"*}
             {*data-ad-client="ca-pub-9949694151182599"*}
             {*data-ad-slot="1138913139"></ins>*}
        {*<script>*}
            {*(adsbygoogle = window.adsbygoogle || []).push({});*}
        {*</script>*}
    {*</div>*}

{*<div class="story_box">*}
    {*<h4 class="recent">Související články</h4>*}
{*</div>*}

{*<div id="story_recent_box">*}
    {*<ul class="grid1x">*}
        {*{foreach from = $story_recent_box item = article key = key}*}

        {*<li {if $key > 0}class="next"{/if} >*}
	    {*<h3><a href="{$article.link}">{$article.title}</a></h3>*}

	    {*<p class="perex">*}
            {*{$article.introtext}*}
	    {*</p>*}
		{*<a href="{$article.link}" class="more">Číst celé</a>{$news_one}*}
	{*</li>*}
        {*{/foreach}*}
    {*</ul>*}
{*</div>*}
{*{/if}*}
